.img-carousel {
  border: 3px solid red;
  height: 80vh;
  display: flex;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.img-container {
  flex: 3;
  border: 3px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 2rem;
  flex: 1;
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="fa-arrow"] {
  color: rgb(215, 145, 55);
}
