body {
  background-color: #efd9ce;
}

.img-carousel {
  height: 80vh;
  display: flex;
}

.inactive {
  display: none;
}

.active-img {
  display: block;
}

.img-container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-img img {
  border: 3px solid #595758;
  border-radius: 10px;
}

.arrow {
  font-size: 3rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="fa-arrow"] {
  color: #595758;
}

[class*="fa-arrow"]:hover {
  color: #7161ef;
}

[class*="fa-arrow"]:active {
  color: #b79ced;
  transform: translateY(2px);
}

#navigation-dots {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #595758;
  border-radius: 50%;
  display: inline-block;
}

.active-dot {
  background-color: #b79ced;
}
